<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Livros</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- bower:css -->
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!-- endbower-->
	<!-- bower:js -->
	<script src="/lib/jquery/dist/jquery.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
	<!-- endbower-->

	<!-- inject:css -->
	<link rel="stylesheet" href="/css/styles.css">
	<!-- endinject -->
	<!-- inject:js>
	<!-- endinject -->

	<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
	<header class="navbar navbar-bright navbar-fixed-top" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Home</a>
			</div>
			<nav class="collapse navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<% for(var i=0; i<nav.length; i++){%>
						<li>
							<a href="<%=nav[i].Link%>">
								<%=nav[i].Text%>
							</a>
						</li>
						<%}%>
				</ul>
			</nav>
		</div>
	</header>

	<div id="masthead">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h1>Library App
						<p class="lead">Building Web Applications with Node.js and Express</p>
					</h1>
				</div>
			</div>
		</div>

		<!-- /cont -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-spacer"> </div>
				</div>
			</div>
		</div>
		<!-- /cont -->
	</div>


	<div class="container">
		<div class="row">

			<div class="col-md-12">

				<div class="panel">
					<div class="panel-body">

						<!--/books-->
						<div class="row">
							<br>
							<div class="col-md-2 col-sm-3 text-center">
								<a class="story-title" href="#"><img alt="" src="<%=books.book.image_url%>" style="width:100px;height:100px" class="img-circle" ></a>
							</div>
							<div class="col-md-10 col-sm-9">
								<h3>
									<%=books.title%>
								</h3>
								<div class="row">
									<div class="col-xs-9">
										<h4><span class="label label-default"><%=books.author%></span></h4>
									</div>
									<div class="col-xs-3"></div>
								</div>
								<br>
								<%-books.book.description%><br>
							</div>
						</div>
						<hr>
						<!--/stories-->
						<a href="/books" class="btn btn-primary pull-right btnNext">Voltar <i class="glyphicon glyphicon-chevron-right"></i></a>
					</div>
				</div>
			</div>
			<!--/col-12-->
		</div>
	</div>
</body>

</html>